.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*background-image: url('background-image.jpg');*/
  background-size: cover;
}

.landing-page h1 {
  color: white; /* It may need to change */
  font-size: 3em; 
}

.landing-page p {
  color: white; /* It may need to change */
  font-size: 1.2em;
}